.metadata/
bpmn2/bin/
bpmn2/gen/
UseCaseDSL/bin/
UseCaseDSL/gen/
BpmnToUseCaseIntegration/bin/
BpmnToUseCaseIntegration/gen/
BpmnToUseCaseIntegration/visualisation/
UseCaseCodeAdapter/bin/
UseCaseCodeAdapter/gen/
UseCaseDSL.edit/bin/
UseCaseDSL.editor/bin/
UseCaseDSL.tests/bin/
UseCaseDSL.ui/bin/
bpmn/bpmn.ldb
