.metadata/
bpmn2/bin/
UseCaseDSL/bin/
BpmnToUseCaseIntegration/bin/
BpmnToUseCaseIntegration/visualisation/
UseCaseToModalSequenceDiagramIntegration/visualisation/
UseCaseCodeAdapter/bin/
UseCaseCodeAdapter/gen/
UseCaseDSL.edit/bin/
UseCaseDSL.editor/bin/
UseCaseDSL.tests/bin/
UseCaseDSL.ui/bin/
de.abilov.ea/MetaAndTgg.ldb
/org.eclipse.xtext.example.domainmodel/
/org.eclipse.xtext.example.domainmodel.tests/
/org.eclipse.xtext.example.domainmodel.ui/
