/.UseCaseSemanticSequencer.java._trace
/.UseCaseSyntacticSequencer.java._trace
/UseCaseSemanticSequencer.java
/UseCaseSyntacticSequencer.java
/.UseCaseSemanticSequencer.xtendbin
/.UseCaseSyntacticSequencer.xtendbin
